# Secrets

fetch.js
*.local.js

# Environment variables

.env
.env.*

# Node.js

node_modules/

# Logs

*.log

# Build output

dist/
build/

# OS & crash files

.DS_Store
Thumbs.db
core.*

# ML models

*.pt

# Sync conflicts

*.sync-conflict*

# Internal logs

.logs/

# Secrets

fetch.js
